[submodule "php-add-lib"]
	path = php-add-lib
	url = https://github.com/Theosakamg/php-add-lib.git
[submodule "php-multi-lib"]
	path = php-multi-lib
	url = https://github.com/Theosakamg/php-multi-lib.git
